### Python Basics 2
29 NOV

### for loop

In [3]:
# for loop
# sum of all the items in a list
l=[1,2,3,4,5]
summ=0
for i in l:
    summ=summ+i
    print(summ)

1
3
6
10
15

In [2]:
l=[1,2,3,4,5]
summ=0
for i in l:
    summ=summ+i
    #print(summ)
print(summ)

15

In [7]:
%%time
#first output as sum of all odd numbers and second output as sum of all even numbers
lst=[1,2,3,4,5,6,7,8,9]
odd_sum=0
even_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print("the sum of odd numbers is",odd_sum)
print("the sum of all even numbers is",even_sum)

the sum of odd numbers is 25
the sum of all even numbers is 20
Wall time: 0 ns

### for else block

In [14]:
#for else block
lst=[2,3,4,5,6,7,7,1]
sum1=0
for i in lst:
    if i==1:
        break
    sum1=sum1+i
else:
    print(sum1)

In [15]:
lst=[2,3,4,5,6,7,7]
sum1=0
for i in lst:
    if i==1:
        break
    sum1=sum1+i
else:
    print(sum1)

34

In [16]:
#find the sum of even numbers and odd numbers. if the sum of even number is greater than 20 or the sum of odd numbers is 
#reater than 20 implement a brea statement and print(else block)
lst=[1,2,3,4,5,6,7]
odd1=0
even1=0
for i in lst:
    if i%2==0:
        even1=even1+i
        if even1>20:
            break
    else:
        odd1=odd1+i
        if odd1>20:
            break
else:
    print(even1)
    print(odd1)

12
16

In [17]:
lst=[1,2,3,4,5,6,7,8,9]
odd1=0
even1=0
for i in lst:
    if i%2==0:
        even1=even1+i
        if even1>20:
            break
    else:
        odd1=odd1+i
        if odd1>20:
            break
else:
    print(even1)
    print(odd1)

### While loop

In [18]:
### while loop
#to find the sum of n elements(1,2,3,4,5,6,7,8,9,10)
n=10
i=1
sum1=0
while i<=n:
    sum1=sum1+i
    i=i+1
print(sum1)

55

In [2]:
#to find sum of even and odd numbers
n=10
i=1
odd_sum=0
even_sum=0
while i<=n:
    if i%2==0:
        even_sum=even_sum+i
        i=i+1
    else:
        odd_sum=odd_sum+i
        i=i+1

        
print(even_sum)
print(odd_sum)

30
25

### Range

In [4]:
range(0,10)

range(0, 10)

In [5]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(0,100,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [7]:
list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [8]:
sum(range(0,100,2))

2450

In [9]:
sum(range(1,100,2))

2500

### Continue

In [15]:
for val in "string":
    if val == "i":
        continue
    print(val)
    
print("the end")

s
t
r
n
g
the end

In [16]:
for val in "string":
    if val == "i":
        break
    print(val)
    
print("the end")

s
t
r
the end

In [17]:
for value in "melkin":
    if value == "i":
        continue
    print(value)
    
print("the end")

m
e
l
k
n
the end