Python Basics

In [1]:
# Modulus - it gives the output as the remainder
4%2

0

In [3]:
# Division - it gives the output as quotient
4/2

2.0

In [4]:
# // - it gives the quotient without the decimal value
5//2

2

In [5]:
# / - it gives the quotient with decimal value
5/2

2.5

In [6]:
#BODMAS rule
5+3*2

11

In [7]:
# to find the data type function
type(12)

int

In [8]:
type(melkin)

NameError: name 'melkin' is not defined

In [9]:
type('melkin')

str

In [10]:
#boolean operation  
True or False

True

In [11]:
True or True

True

In [13]:
# if either of the condition is true then the output is true
a=10
b=20
a+b>30 or a-b<10

True

In [14]:
a=10
b=20
a+b>30 | a-b<10

True

In [15]:
#strings
type("melkin")

str

In [16]:
str("hi how are you")

'hi how are you'

In [24]:
strnam=("I amm melkin")
strnam

'I amm melkin'

In [22]:
strname=("data science")
print(strname)

data science

In [26]:
str1="bad boy"
str2="good boy"
print(str1)
print(str2)

bad boy
good boy

In [28]:
str1+str2

'bad boygood boy'

In [29]:
str1+" "+str2

'bad boy good boy'

In [32]:
### getting an input
name=input("Enter your name?")
print(name)

Enter your name?Melkin
Melkin

In [34]:
### adding two numbers
a=float(input("enter number 1"))
b=float(input("enter number 2"))
c=a+b
print("the output value is",c)

enter number 123.6
enter number 224.9
the output value is 48.5

In [39]:
### string formatting (.format func is used to get the name in the ordered format)
first_name=input("what is your first name?")
last_name=input("what is your last name?")
print("My first name is {firstname} and my last name is {lastname}".format(lastname=last_name,firstname=first_name))

what is your first name?Jose
what is your last name?Mel
My first name is Jose and my last name is Mel

### Variable dynamic Typing

In [40]:
##We dont want to predefine a variables data type instead it automatically takes it.
a="mel"
type(a)

str

In [41]:
a=5
type(a)

int

In [42]:
## strong typing - both the sides should have the same data type
"melkin" + "1"

'melkin1'

### Conditional Statements

In [43]:
### If elif statement
a=int(input("enter number 1"))
b=int(input("enter number 2"))
c=a-b
print("the output value is",c)
if c<0:
    print("the value is negative")
elif c>40:
    print("the difference value is huge")
else:
    print("the value is positive")

enter number 120
enter number 230
the output value is -10
the value is negative

### Data Structures
1. list
2. tuples
3. string
4. dictionary
5. sets

In [44]:
lst=[1,2,3,4,"mel","jose"]
lst

[1, 2, 3, 4, 'mel', 'jose']

In [45]:
lst.append("hello")

In [46]:
lst

[1, 2, 3, 4, 'mel', 'jose', 'hello']

In [47]:
lst[3]=7

In [48]:
lst

[1, 2, 3, 7, 'mel', 'jose', 'hello']

In [49]:
lst.count(1)

1

In [ ]:
#indexing
#strings are immutable - we cant change the element in the string
str1="melkin"